@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(69, 83, 78);
  font-family: 'Lato', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  grid-column: 1/6;
  justify-self: center;
}

button {
  border: 0;
  background-color: white;
  width: 150px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
  display: grid;
  padding: 10px;
  box-sizing: content-box;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: inherit;
  text-align: left;
  font-weight: 900;
  letter-spacing: 0.09rem;
}

button>div {
  width: 100%;
  height: 150px;
  pointer-events: none;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.light-blue {
  background-color: lightblue;
}

.orange {
  background-color: orange;
}

button>span {
  pointer-events: none;
}